<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
</head>
<body>

<h2>Здравствуйте!</h2>

<p>Благодарим Вас за регистрацию в CRM ТН! :)</p>
<p>Для входа в систему используйте, пожалуйста, приведенные ниже данные:</p>

<b>Логин</b>: {{login}}<br><b>Пароль</b>: {{pass}}

<p>Ссылка для входа в систему:</p>
=><a href="http://tn_crm.dev/login">http://tn_crm.dev/login</a>
<p>Хорошего Вам дня, и приятной работы с CRM ТН!</p>

<p>С уважением, Фролов П.А.</p>

</body>
</html>
