<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
</head>
<body>

<h2>Здравствуйте!</h2>

<p>Благодарим Вас за регистрацию :)</p>
<p>Для входа в систему используйте, пожалуйста, приведенные ниже данные:</p>

<b>Логин</b>: {{login}}<br><b>Пароль</b>: {{pass}}

<p>Ссылка для входа в систему:</p>
=><a href="http://89.223.27.167/login">http://89.223.27.167/login</a>
<p>Хорошего Вам дня, и приятной работы с SMMCONTACT!</p>

</body>
</html>
